body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.container {
  display: block;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-about-light {
  margin-bottom: 0px;
  opacity: 0.6;
  color: #e5ecf8;
  font-size: 15px;
  font-weight: 600;
}

.paragraph-light {
  margin-bottom: 5px;
  opacity: 0.6;
  font-family: 'Droid Serif', serif;
  color: #c1cfe7;
  font-size: 14px;
  line-height: 20px;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: transparent;
}

.button {
  padding: 12px 25px;
  border-radius: 6px;
  background-color: #5167c0;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #3b4b8f;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #e6e6e6;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-headline {
  width: 70%;
  margin-bottom: 10px;
}

.contact-form-grid {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.contact-form-wrap {
  width: 70%;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 50px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.social-icon {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: -webkit-filter 200ms ease;
  transition: -webkit-filter 200ms ease;
  transition: filter 200ms ease;
  transition: filter 200ms ease, -webkit-filter 200ms ease;
}

.social-icon:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.social-icon.linkpage {
  margin-right: auto;
  margin-left: auto;
}

.about-head-text-wrap {
  display: block;
  width: 325px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.hi-there-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Montserrat, sans-serif;
  color: #e5ecf8;
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.skillset-wrap {
  margin-left: 10px;
  padding: 10px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
}

.nav-button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-radius: 7px;
  background-color: #5167c0;
  -webkit-transition: all 200ms ease, opacity 200ms ease;
  transition: all 200ms ease, opacity 200ms ease;
}

.nav-button:hover {
  background-color: #3b4b8f;
  color: #fff;
}

.nav-button.w--current {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px;
}

.div-block-2 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider {
  display: block;
  width: auto;
  height: 250px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
}

.slide {
  background-image: url('../images/EEG1-min.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide.tric {
  background-image: url('../images/RSCH-TRIC_Stager_Robotics-013120-188_1_20-min.jpg');
}

.slide.castordigital {
  background-image: url('../images/Meeting-Screenshot-4-25-2021-min.jpg');
}

.slide.nft {
  background-image: url('../images/unnamed.png');
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/EEG2-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-2.tric {
  background-image: url('../images/TRIC2.jpg');
  background-position: 50% 0%;
}

.slide-2.castordigital {
  background-image: url('../images/prev-MK.jpg');
}

.slide-2.nft {
  background-image: url('../images/Tots100.JPG');
}

.slide-3 {
  background-image: url('../images/EEG3-min.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3.tric {
  background-image: url('../images/TRIC3.jpg');
}

.slide-3.castordigital {
  background-color: #000;
  background-image: url('../images/prev-BD.JPG');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.slide-4 {
  background-image: url('../images/EEG3.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4.tric {
  background-image: url('../images/TRIC4.jpg');
}

.slide-4.castordigital {
  background-color: #070b52;
  background-image: url('../images/prev-CO.jpg');
  background-position: 50% 50%;
  background-size: 400px;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.slide-nav {
  display: block;
  opacity: 0.75;
}

.mask {
  width: 375px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.skillset-wrap-2 {
  padding: 5px 0px 5px 10px;
}

.robotics-imageslider {
  display: block;
  width: 375px;
  height: 250px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
}

.slide-5 {
  background-image: url('../images/TRIC1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.lottie-animation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-7 {
  color: #e5ecf8;
  font-size: 28px;
  line-height: 38px;
}

.heading-8 {
  color: #e5ecf8;
  font-size: 28px;
  line-height: 38px;
}

.slider-copy {
  display: none;
  width: auto;
  height: 250px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 4px;
}

.oneclik-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.container-5 {
  position: relative;
  display: block;
  width: 85%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.oneclik-h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f8f8ff;
  font-size: 2em;
  font-weight: 300;
}

.oneclik-body {
  background-color: transparent;
  color: indigo;
}

.oneclik-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  max-width: 600px;
  margin-right: 10px;
  margin-bottom: 1em;
  margin-left: 10px;
  padding: 0.75em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f8f8ff;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: indigo;
  text-align: center;
  text-decoration: none;
}

.oneclik-button:hover {
  background-color: #00ced1;
}

.section-7 {
  padding: 10% 8% 8%;
  color: #c1cfe7;
}

.bold-text {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.74);
}

.oneclik-h1-copy {
  color: #f8f8ff;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 10px;
  padding: 5px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-color: #5167c0;
  color: #fff;
  text-decoration: none;
}

.text-block-2 {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.paragraph-light-about {
  margin-bottom: 5px;
  opacity: 0.6;
  font-family: 'Droid Serif', serif;
  color: #e5ecf8;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0 0 1px #000;
}

.trevoverlay {
  width: auto;
  height: 300px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  top: auto;
  margin-top: 10px;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 8px;
  background-color: #606ea5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#3b4b8f));
  background-image: linear-gradient(180deg, transparent, #3b4b8f);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.55);
}

.navbar.home {
  margin-right: 0px;
  margin-left: 0px;
}

.oneclik-button-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 25px;
  max-width: 25px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  color: indigo;
  text-align: center;
  text-decoration: none;
}

.oneclik-button-copy:hover {
  background-color: #00ced1;
}

.nav-link {
  padding: 10px 4px 10px 5px;
  -webkit-transition: text-shadow 200ms ease, -webkit-filter 200ms ease;
  transition: text-shadow 200ms ease, -webkit-filter 200ms ease;
  transition: text-shadow 200ms ease, filter 200ms ease;
  transition: text-shadow 200ms ease, filter 200ms ease, -webkit-filter 200ms ease;
  color: #e5ecf8;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  text-shadow: 1px 1px 4px #3b4b8f;
}

.nav-link:hover {
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
  color: #c1cfe7;
}

.nav-link.w--current {
  color: #669fff;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-3 {
  background-color: #212498;
  background-image: linear-gradient(92deg, transparent, #1c1d4a);
}

.div-block-7-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-7-copy {
  padding: 2.5% 8%;
  color: #c1cfe7;
}

.projects-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #e5ecf8;
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.icons-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
}

.body-4 {
  background-color: #212498;
}

@media screen and (min-width: 1280px) {
  .nav-link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .hi-there-heading {
    font-size: 60px;
    line-height: 60px;
  }

  .container-3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-7 {
    padding-right: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
  }

  .paragraph-light-about {
    font-size: 20px;
    line-height: 28px;
  }

  .navbar {
    top: auto;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1920px) {
  img {
    padding: 5px;
  }

  .container {
    background-color: transparent;
  }

  .label.cc-about-light {
    font-size: 28px;
    line-height: 24px;
  }

  .paragraph-light {
    font-size: 18px;
    line-height: 24px;
  }

  .section.cc-contact {
    background-color: transparent;
    box-shadow: none;
  }

  .contact {
    width: auto;
    padding-top: 40px;
  }

  .social-icon {
    max-height: 100px;
    max-width: 200px;
    box-shadow: none;
  }

  .social-icon.linkpage {
    max-height: 250px;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .hi-there-heading {
    font-size: 65px;
    line-height: 65px;
  }

  .nav-button {
    background-color: #5167c0;
  }

  .nav-button:hover {
    background-color: #3b4b8f;
  }

  .container-3 {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .slide.castordigital {
    background-image: url('../images/Meeting-Screenshot-4-25-2021-min.jpg');
  }

  .slide-2.castordigital {
    background-image: url('../images/website-preview-marys.jpg');
  }

  .skillset-wrap-2 {
    margin-top: 20px;
  }

  .heading-7 {
    font-size: 32px;
  }

  .heading-8 {
    font-size: 32px;
  }

  .section-7 {
    padding-top: 5%;
    padding-right: 0%;
    padding-left: 0%;
  }

  .link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 255px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #5167c0;
    text-align: left;
  }

  .link-block:hover {
    background-color: #3b4b8f;
  }

  .text-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  .image-3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-light-about {
    font-size: 28px;
    line-height: 34px;
  }

  .trevoverlay {
    height: 450px;
  }

  .navbar {
    top: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 220px;
    margin-left: 220px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .oneclik-button-copy {
    max-height: 80px;
    max-width: 100px;
    font-size: 25px;
  }

  .oneclik-button-copy:hover {
    background-color: transparent;
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 32px;
    line-height: 34px;
  }

  .container-8 {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .section.cc-contact {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .navigation-items {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .navigation-wrap {
    margin-right: 0px;
  }

  .contact {
    width: auto;
    padding: 30px 50px 40px;
  }

  .contact-headline {
    width: 100%;
  }

  .contact-form-wrap {
    width: 100%;
  }

  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .skillset-wrap {
    padding-right: 0px;
  }

  .container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .slider {
    display: none;
  }

  .skillset-wrap-2 {
    padding-right: 0px;
  }

  .slider-copy {
    display: block;
  }

  .oneclik-header {
    max-width: none;
  }

  .section-7 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .navbar {
    top: auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .section {
    margin-right: 15px;
    margin-left: 15px;
  }

  .section.cc-contact {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    background-color: transparent;
    box-shadow: none;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .logo-link {
    padding-left: 0px;
  }

  .navigation {
    padding: 20px 30px;
  }

  .text-field.cc-textarea {
    text-align: left;
  }

  .contact {
    padding-right: 30px;
    padding-left: 30px;
  }

  .contact-form-grid {
    grid-column-gap: 30px;
    grid-template-areas: "."
      "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    text-align: left;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .webflow-link {
    margin-bottom: 15px;
  }

  .social-icon.linkpage {
    margin-right: auto;
    margin-left: auto;
  }

  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
  }

  .container-3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .robotics-imageslider {
    display: none;
  }

  .slider-copy {
    display: none;
  }

  .oneclik-button {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-7 {
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }

  .oneclik-h1-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .trevoverlay {
    display: none;
  }

  .nav-link {
    font-size: 16px;
  }

  .section-7-copy {
    padding-right: 5%;
    padding-left: 5%;
  }

  .linkwrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .section.cc-contact {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .contact {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .social-icon {
    margin-right: auto;
    margin-left: auto;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }

  .nav-button {
    margin-bottom: 10px;
  }

  .container-5 {
    width: 95%;
  }

  .oneclik-h1 {
    font-size: 2em;
    line-height: 28px;
  }

  .oneclik-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bold-text {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.47);
  }

  .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .oneclik-h1-copy {
    font-size: 1em;
    line-height: 20px;
    text-align: center;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link-block {
    margin-top: 10px;
  }

  .paragraph-light-about {
    font-size: 14px;
    line-height: 20px;
  }

  .trevoverlay {
    display: none;
  }

  .div-block-7 {
    padding-right: 0px;
  }

  .navbar {
    top: auto;
  }

  .navbar.home {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .oneclik-button-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 30px;
    max-width: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: none none solid;
    border-width: 1px 1px 2px;
    border-color: #000 #000 #3b4b8f;
    font-size: 20px;
    line-height: 24px;
  }

  .container-8 {
    margin-right: auto;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-7-copy {
    padding-right: 0px;
  }

  .projects-heading {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .icons-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .linkwrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}